---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";

export async function getStaticPaths() {
  const foundations = await getCollection("foundations-of-discernment");
  return foundations.map((note) => ({
    params: { slug: note.slug },
    props: note,
  }));
}

type Props = CollectionEntry<"foundations-of-discernment">;
const foundation = Astro.props;
const { title, summary } = foundation.data;
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={foundation} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={foundation} />
    </div>
  </BottomLayout>
</PageLayout>
