---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";


export async function getStaticPaths() {
  const treeShifts = await getCollection("tree-shifts");
  return treeShifts.map((treeShift) => ({
    params: { slug: treeShift.slug },
    props: treeShift,
  }));
}


 type Props = CollectionEntry<"tree-shifts">
 const treeShifts = Astro.props
 const { title, description } = treeShifts.data
---

<PageLayout title={title} description={description}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={treeShifts} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={treeShifts} />
    </div>
  </BottomLayout>
</PageLayout>