---
import { getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import { SYMPTOMS } from "@consts"

---

<PageLayout title={SYMPTOMS.TITLE} description={SYMPTOMS.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {SYMPTOMS.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <ul>

  </BottomLayout>
</PageLayout>
