---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Search from "@components/Search";
import { SEARCH } from "@consts";

const posts = (await getCollection("tree")).filter((post) => !post.data.draft);

const clearing = (await getCollection("the-clearing")).filter(
  (entry) => !entry.data.draft,
);

const canonNotes = (await getCollection("canon_notes")).filter(
  (post) => !post.data.draft,
);

const forests = (await getCollection("forests")).filter(
  (post) => post.data.type !== "forest" && !post.data.draft,
);

const foundations = (await getCollection("foundations-of-discernment")).filter(
  (post) => !post.data.draft,
);

const compassPoints = (await getCollection("compass_points")).filter(
  (post) => !post.data.draft,
);

const pillars = (await getCollection("pillars")).filter(
  (post) => !post.data.draft,
);

const data = [...posts, ...clearing, ...canonNotes, ...forests, ...foundations, ...compassPoints, ...pillars] as CollectionEntry<
  | "tree"
  | "the-clearing"
  | "canon_notes"
  | "forests"
  | "foundations-of-discernment"
  | "compass_points"
  | "pillars"
>[];
---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {SEARCH.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Search client:load data={data} />
    </div>
  </BottomLayout>
</PageLayout>
