---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

// Create the static foundations pages
export async function getStaticPaths() {
        const foundations = await getCollection("foundations")
        return foundations.map((foundation) => ({
                params: { slug: foundation.slug },
                props: foundation,
        }))
}

// Get the requested foundation
type Props = CollectionEntry<"foundations">
const foundation = Astro.props
const { title, summary } = foundation.data
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={foundation} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={foundation} />
    </div>
  </BottomLayout>
</PageLayout>
