---
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"

const { title, description } = Astro.props
---

<PageLayout title={title} description={description}>
  <TopLayout>
    <div class="animate">
      <h1 class="mt-2 text-3xl font-semibold text-ink dark:text-bone">
        {title}
      </h1>
      <div class="mt-1 text-ash dark:text-zinc-300">
        {description}
      </div>
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate prose dark:prose-invert">
      <slot />
    </div>
  </BottomLayout>
</PageLayout>

