---
import { type CollectionEntry, getCollection } from "astro:content"
import PageLayout from "@layouts/PageLayout.astro"
import TopLayout from "@layouts/TopLayout.astro"
import BottomLayout from "@layouts/BottomLayout.astro"
import ArticleTopLayout from "@layouts/ArticleTopLayout.astro"
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro"

// Create the static foundations pages
export async function getStaticPaths() {
        const treeShifts = await getCollection("tree_shifts")
        return treeShifts.map((treeShifts) => ({
                params: { slug: treeShifts.slug },
                props: treeShifts,
        }))
}

// Get the requested foundation
type Props = CollectionEntry<"tree_shifts">
const treeShifts = Astro.props
const { title, summary } = treeShifts.data
---

<PageLayout title={title} description={summary}>
  <TopLayout>
    <div class="animate">
      <ArticleTopLayout entry={treeShifts} />
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <ArticleBottomLayout entry={treeShifts} />
    </div>
  </BottomLayout>
</PageLayout>